.main-container {
  margin: auto;
  width: 95%;
  height: 100vh;
  /* background-color: white; */
}
.header-container {
  height: 40%;
  text-align: center;
}
.logo {
  margin: 30% 0 5% ;
  width: 35%;
  height: 20%;
}
.search-bar {
  margin: auto;
  width: 80%;
  background-color: white;
  border-radius: 25px;
  text-align: left;
}